<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <data noupdate="1">
     
        <!-- top level menu: no parent -->
     <menuitem id="main_loan_menu" name="Loan"/>
     <!-- A first level in the left side menu is needed
          before using action= attribute -->
     <menuitem id="loan_menu" name="Loan"
               parent="main_loan_menu"/>
     <!-- the following menuitem should appear *after*
          its parent openacademy_menu and *after* its
          action course_list_action -->
          
     <menuitem id="amortization_menu" name="Amortization" parent="loan_menu"
               action="amortization_action"/>

     <!-- <menuitem id="data_entry_menu" name="Loan Data Entry" parent="loan_menu"
               action=""/> -->
        
    
    </data>
    

</odoo>
